{% extends "base.html" %}

{% block main %}
<p align="center">Many of us have spare time that we would like to use to make the world a better place, but don't know where to start.</p>

<p align="center">This is a currated list of projects where online volunteers can make a difference, mostly from the comfort of their own home. With this list, you can make the world a better place!</p>

<p align="center">If you would like to contribute to this list, please read the <a href="/contributing">Contribution Guide</a>.
  
  <h2>Project Categories</h2>
  
  <ul>
    {% for category in categories|sort %}
    <li id="category-{{category|slugify}}">{{category}}</li>
    <ul>
      {%- for project in categories[category] %}
      <li><a href="#{{project.name|slugify}}">{{ project.name}}</a>
	{%- endfor %}
    </ul>
    {%- endfor %}
  </ul>
  
  <h2>Project Directory</h2>
  
  {% for project in projects %}
  <h3 id="{{project.name|slugify}}">{{project.name}}</h3>
<p>Categories:
  {% for category in project.categories|sort %}
  <a href="#category-{{category|slugify}}">{{category}}</a>,
  {%- endfor %}
</p>
<p>{{project.description|markdown}}</p>

<p>Website: <tt><b><a href="{{project.website}}">{{project.website|website}}</a></b></tt></p>
<br/>
{% endfor %}

{% endblock %}
